.card-div{
    display: flex;
    justify-content: center;
}
.card-left {
    display: flex;
    column-gap: 50px;
}
.card-right {
    display: flex;
    justify-content: flex-end
}
.card-space {
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}

.searchbar{
    margin-top: 9%;
    width: 18% !important;
    margin-left: 3%;
    margin-bottom: 2%;
    background-color: white;
}
  .crd-1 {
    margin-top: 15%;
  }